<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and Track Files</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
</head>
<body>
    <nav id='menu'>
        <ul>
          <li><a href="{{ url_for('logout')}}">Log out</a></li>
        </ul>
    </nav>

    <h1>Welcome,<span>{{ username }}!!</span></h1>
    <div class="main-container">
        <div class="upload-container">
            <h2>Upload Files</h2>
            <form method="POST" action="/" enctype="multipart/form-data">
                <label for="file">Choose files:</label>
                <input type="file" name="files" multiple required>
                <button type="submit">Upload</button>
            </form>
            
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        <div class="track-container">
            <h2>Track File Uploads</h2>
            {% if uploads %}
            <table>
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Hospital</th>
                        <th>File URL</th>
                        <th>Upload Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for filename, file_url, upload_time in uploads %}
                    <tr>
                        <td>{{ filename }}</td>
                        <td>{{ username }}</td>
                        <td><a href="{{ file_url }}" target="_blank">{{ file_url }}</a></td>
                        <td>{{ upload_time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No files uploaded yet.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
